@import './../../assets/Sass/variable.scss';
@import './../../assets//Sass/mixin.scss';

.cart-page{
    .removed-title{
        margin-bottom: 20px;
    }
    
    .notify{
        border: 1px solid #efefef;
        padding: 8px 40px;
        line-height: 50px;
        color: #000;

        font-size: 18px;
        font-weight: 600;
        font-style: italic;
        font-family: 'Merriweather', serif;
    }

    .cart__calculate{
        margin-top: 50px;
        @include d-flex(center, flex-end);
    }
    
}
.return-to-shop{
    color: $primary-color;
}
