@import './../../../assets/Sass/variable.scss';

.accordition-toggle{
    margin-bottom: 20px;

    .accordition-detail{
        max-height: 0;
        transition: all .5s;
    }

    &.open{
        .accordition-detail{
            max-height: 225px;
        }
    }

    .accordition-span{
        padding: 8px 40px;
        line-height: 50px;
        color: #000;
        font-size: 18px;

        font-weight: 600;
        font-family: Merriweather,serif;
        font-style: italic;

        span{
            color: $primary-color;
            cursor: pointer;
            margin-left: 10px;
        }
    }

    .accordition-toggle--box{
        min-height: 68px;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    .form-group{
        margin: 15px 0;
    }  
    
    .accordition--right{
        color: $primary-color;
    }

    .accordition-toggle--box.empty-icon{
        max-height: 500px;
        text-align: center;
        img{
            margin-top: 50px;
            width: 150px;
        }

        .barista-btn{
            font-style: initial;
        }
        
    }
}